
#External
{
    color:green;

}



#ajith
{
                  font-family: 'Courier New', Courier, monospace; 
                  font-size: 3em;
                  font-weight: lighter;
                  font-style: italic;
                  font-variant: small-caps;
}
